:root {
    --primary-color: #0066cc;
    --secondary-color: #ffcc00;
    --background-color: #eef;
    --text-color: #333333;
}

/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0;
    margin: 0;
}

/* Header */
header {
    background-color: var(--primary-color);
    padding: 15px;
    text-align: center;
    color: white;
}

header .site-title {
    font-size: 2rem;
    margin: 0;
}

/* Navigation */
header nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bold;
    transition: background-color 0.3s;
}

header nav ul li a:hover {
    background-color: #007BFF;
    border-radius: 5px;
}

/* Characters Section */
.characters-section {
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    background-color: white;
}


.character-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.character-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.character-card h3 {
    color: var(--primary-color);
    font-size: 1.2rem;
}

.character-card p {
    font-size: 0.9rem;
    color: #666;
}

.character-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 15px;
}
